@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  margin: 5vw;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 4vh;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #050801;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

button {
  position: relative;
  display: inline-block;
  padding: 20px 30px;
  /* margin: 40px 0; */
  color: #fcbacb;
  background: #050801;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 4px;
  overflow: hidden;
}
button:hover {
  background: #fcbacb;
  color: #fa86c4;
  box-shadow: 0 0 5px #fcbacb, 0 0 5px #fcbacb, 0 0 5px #fcbacb,
    0 0 70px #fcbacb;
}
.center {
  text-align: center;
  color: #fa86c4;
}
